<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<sounds>
		./sound/
	</sounds>
	
	<images>
		./img/
	</images>
	
	<Button1>
		<Name>
			btn_no1
		</Name>
		<Label>
			label_btn_no1
		</Label>
		<Sound>
			chimes.wav
		</Sound>
		<Image>
			IMG_8110.jpeg
		</Image>
	</Button1>
	
</configuration>
